@import url('../global/reset.css');
@import url('../global/normalize.css');
@import url('../global/root.css');

.loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--primary-blue-high);
    color: var(--primary-blue-low);
    text-align: center;
    gap: 20px;
}

.loading-screen h2 {
    font-size: 22px;
    font-weight: 700;
}
.loader {
    width: 40px;
    aspect-ratio: 1;
    position: relative;
    animation: l9-0 1.5s infinite steps(2);
}

.loader::before,
.loader::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: var(--primary-blue-low);
}

.loader::before {
    box-shadow: 60px 0;
    transform: translateX(-60px);
    animation: l9-1 .75s infinite linear alternate;
}

.loader::after {
    transform: translateX(30px) rotate(0deg) translateX(30px);
    animation: l9-2 .75s infinite linear alternate;
}

@keyframes l9-0 {

    0%,
    49.9% {
        transform: scale(1)
    }

    50%,
    100% {
        transform: scale(-1)
    }
}

@keyframes l9-1 {
    100% {
        box-shadow: 120px 0
    }
}

@keyframes l9-2 {
    100% {
        transform: translateX(30px) rotate(-180deg) translateX(30px)
    }
}